* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* font général  */
@font-face {
        font-family : chunkfive;
        src : url(../);
}
/* page connexion */
body{
    background-image: url("../image/stars-1869692_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background: #ffffff38;
    padding: 6vh;
}
h1{
    color:rgb(15, 240, 202);
}
.tab1{
     margin-bottom: 100px;
}
/* page accueil_admin */
.accueil_admin_image{
    background-image: url("../image/stars-1869692_1920.jpg");
}

.card_admin{
    margin-top: 10vh;
}
