/*style.css*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* font général  */
@font-face {
        font-family :brushield;
        src : url(../font/brushield/Brushield\ italic.ttf);
}
header{
    margin: 0;
    padding:0;
}
h1 {
    font-family : Counter;
}
body{
    font-family: 'Roboto', sans-serif;
    color: white;
    /* background-color: black; */
}
/* ZONING page d'accueil*/
#block1{
    /* background: #000; */
    /* background-image: url("../image/Space_Debris-ESA.jpg"); */
    /* background-size: cover; */
    height: 100vh;
    width: 50vw;
    position:relative;
    padding-left:0;
    padding-right:0;
    background-position: center;
    
} 
h1{
  position:absolute;
  top:40%;
  font-size:45px;
  font-family: 'brushield';
  margin-left:60%;
  right:12%;
}
.glow {
  font-size: 50px;
  /* color: rgb(255, 255, 255); */
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

h1 .glow{
    margin-left:0;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0), 0 0 40px rgb(0, 0, 0) 0 50px rgb(0, 0, 0), 0 0 60px rgb(0, 0, 0) 0 70px rgb(0, 0, 0);
  }
  
  to {
    text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
  }
}
/* partie A propos */
#block2{
    /* background:red; */
    height: 100vh;
    width: 50vw;
    padding-left:0;
    padding-right:0;
}
#sBlocka{
    /* background:purple; */
    background-image: url("../image/forest-931706_1920.jpg");
    background-size: cover;
    height: 50vh;
    width: 100vw;
}
.about{
    margin-left:40%;
}
/* fin partie A propos */

#sBlockb{
    /* background:green; */
    background-image: url("../image/milky-way-916523_1280.jpg");
    background-size: cover;
    height: 25vh;
    width: 50vw;
}
#sBlockc{
    /* background:yellow; */
    background-image: url("../image/codage-l-application-par-le-développeur-de-programmeur-code-de-programmation-abstrait-fond-d-écran.jpg");
    background-size: cover;
    height: 25vh;
    width: 50vw;
}
#sBlockd{
    /* background:orange; */
    background-image: url("../image/antelope-canyon-1128815_1280.jpg");
    background-size: cover;
    height: 25vh;
    width: 50vw;
}
#sBlocke{
    /* background:bisque; */
    background-image: url("../image/parachute-1843350_1280.jpg");
    background-size: cover;
    height: 25vh;
    width: 50vw;
}
.block{
    margin-left:35%;
    top:20px;
}
/* fin ZONING page d'accueil */

/* Page A propos */

.main_about{
    background-image: URL("../image/forest-931706_1920.jpg");
    background-size: cover;
}

.navbar {
    background-color: transparent;
}
.lorem{
    height:800px;
}
a{
    color:white;
}
/* Page Formation */
.main_formation{
    background-image: URL("../image/milky-way-916523_1280.jpg");
    background-size: cover;
}
/* Page Competence */
.main_competence{
    background-image: URL("../image/codage-l-application-par-le-développeur-de-programmeur-code-de-programmation-abstrait-fond-d-écran.jpg");
    background-size: cover;
}
/* Page Projects */
.main_projects{
    background-image: URL("../image/antelope-canyon-1128815_1280.jpg");
    background-size: cover;
}
/* Page Contact */
.main_contact{
    background-image: URL("../image/parachute-1843350_1280.jpg");
    background-size: cover;
}
hr{
    height: 4px;
    cursor: default;
}


