@import url(https://fonts.googleapis.com/css?family=Lato:900);
/*style.css*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* font général  */
@font-face {
        font-family :brushield;
        src : url(../font/brushield/Brushield\ italic.ttf);
}
@media all and (max-width:768px) /*si l’écran du terminal utilisé par le visiteur est inférieur à 768px */

{

 #block1{
    height: 100vh;
     }   

 #block2{
    height: 50vh;
     }   

}

/* @media all and (min-width:768px and max-width:1024px) 

{
 #block1{
    height: 100vh;
     }   

 #block2{
    height: 50vh;
     }   


} */





header{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: white;
    /* background-color: black; */
}
/*--------------------------------------------------

ZONING page d'accueil*/
#block1{
    /* background: #000; */
    /* background-image: url("../image/Space_Debris-ESA.jpg"); */
    /* background-size: cover; */
    height: 100vh;
    width: 50vw;
    position:relative;
    padding-left:0;
    padding-right:0;
    background-position: center;  
} 
/*-------------------------------------------------
 Bouton de connexion */
#connect{
  cursor: text;
  text-decoration: none;
  color:#fff;
}
.about{
  position:absolute;
  top:40%;
  font-size:45px;
  font-family: 'brushield';
  margin-left: 40%;
  font-family :brushield;
}
.glow {
  position:absolute;
  top:40%;
  font-size: 50px;
  /* color: rgb(255, 255, 255); */
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  margin-left: 40%;
  font-family :brushield;
}



@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0), 0 0 40px rgb(0, 0, 0) 0 50px rgb(0, 0, 0), 0 0 60px rgb(0, 0, 0) 0 70px rgb(0, 0, 0);
  }
  
  to {
    text-shadow: 0 0 20px #0008CB, 0 0 30px #0008CB, 0 0 40px #0008CB, 0 0 50px #0008CB, 0 0 60px #0008CB, 0 0 70px #0008CB, 0 0 80px #0008CB;
  }
}
/*-------------------------------------------------
 partie A propos */
#block2{
    /* background:red; */
    height: 100vh;
    width: 50vw;
    padding-left:0;
    padding-right:0;
}
#sBlocka{
    /* background:purple; */
    background-image: url("../image/forest-931706_1920.jpg");
    background-size: cover;
    height: 50vh;
    width: 100vw;
}
.contact_title{
    position:absolute;
    top:40%;
    margin-left:40%;
    font-family :brushield;
}
/* fin partie A propos */

#sBlockb{
    /* background:green; */
    background-image: url("../image/imageR.jpg");
    background-size: cover;
    height: 25vh;
    width: 50vw;
}
#sBlockc{
    /* background:yellow; */
    background-image: url("../image/milky-way-916523_1280.jpg");
    background-size: cover;
    height: 25vh;
    width: 50vw;
}
#sBlockd{
    /* background:orange; */
    background-image: url("../image/antelope-canyon-1128815_1280.jpg");
    background-size: cover;
    height: 25vh;
    width: 50vw;
}
#sBlocke{
    /* background:bisque; */
    background-image: url("../image/parachute-1843350_1280.jpg");
    background-size: cover;
    height: 25vh;
    width: 50vw;
}
.block{
    margin-left:35%;
    top:20px;
}
/*-----------------------------------------------
 fin ZONING page d'accueil */

/* Page A propos */

.main_about{
    background-image: URL("../image/forest-931706_1920.jpg");
    background-size: cover;
}

.navbar {
    background-color: transparent;
}
.lorem{
    height:800px;
}
a{
    color:white;
}
/*------------------------------------------------
 Page Formation */
.main_formation{
    background-image: URL("../image/imageR.jpg");
    background-size: cover;
}
/* ----------------------------------------------
Page Competence */
.main_competence{
    background-image: URL("../image/milky-way-916523_1280.jpg");
    background-size: cover;
}
/* ----------------------------------------------
Page Projects */
.main_projects{
    background-image: URL("../image/antelope-canyon-1128815_1280.jpg");
    background-size: cover;
}
/* -----------------------------------------------
Page Contact */
#contact{
    background-image: URL("../image/parachute-1843350_1920.jpg");
    background-size: cover;
    height:100vh;
}
.formulaire_title{
     font-family :brushield;
}
hr{
    cursor: default;
}
.footer{
    background-color:rgb(0, 65, 139);
}
/* ----------------------------------------------------
page header */
.navbar{
    background: rgba(156, 116, 41, 0);
}
#nom_header{
    text-align:right;
}